<item [item]="invest" 
    [title]="'Investment'" 
    [subtitle]="'General'"
    [itemListIndex]="itemListIndex">

    <mat-form-field>    
        <mat-label>Current Value</mat-label>
        <input matInput type="text" [(ngModel)]="initialString" (ngModelChange)="parse()">
    </mat-form-field>    

    <mat-form-field>    
        <mat-label>Annual Rate</mat-label>
        <input matInput type="text" [(ngModel)]="rateString" (ngModelChange)="parse()">
    </mat-form-field>

    <mat-form-field>    
        <mat-label>Monthly Contribution</mat-label>
        <input matInput type="text" [(ngModel)]="additionalContribString" (ngModelChange)="parse()">
    </mat-form-field>

</item>
