<!--Card content-->
<mat-card-header>
    <mat-card-title>Mortgage</mat-card-title>
</mat-card-header>

<mat-card-content>

    <mat-form-field>
        <mat-label>Home Value</mat-label>
        <input matInput type="text" [(ngModel)]="mortgage">
    </mat-form-field>
    
    <!-- <mat-form-field>
        <mat-label>Down Payment</mat-label>
        <input matInput type="text" [(ngModel)]="value">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Mortgage Amount</mat-label>
        <input matInput type="text" [(ngModel)]="value">
    </mat-form-field> -->
    
</mat-card-content>