<div class="container">
    <!-- hero -->
    <div class="row">
        <img class="hero" src="assets/welcome-hero.jpg"/>
    </div>
    <!-- call to action -->
    <div class="row">
        <div class="col-md-2"></div>
        <div id="signup" class="col-md-4">
            <div class="box">
                <h1>Sign Up!</h1>
            </div>
        </div>
        <div id="login" class="col-md-4" >
            <div class="box">
                <h1>Log In!</h1>
            </div>
        </div> 
        <div class="col-md-2"></div>
    </div>
    <!-- about us -->
    <div class="row">

    </div>
</div>