<div class="container-fluid">
    <div class="row">
      <div class="side-bar col-sm-1">
          <item-buffet></item-buffet>
      </div>
      <div class="col-sm-2">
        <item *ngFor="let item of itemList">
            <!-- <ng-container *ngComponentOutlet="item.component"></ng-container> -->
            <paycheck 
              *ngIf="item instanceof Paycheck"
              paycheck="item">

            </paycheck>
        </item>
      </div>
      <div class="col-lg-7">
        <bar-chart></bar-chart>
      </div>
      <div class="col-sm-2">
        Ads
      </div>
    </div>
  </div>