.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #dddddd;
}

h2 {
    padding: 0px;
}